In [5]:
import pandas as pd
import glob 
import numpy as np
import matplotlib.pyplot as plt

In [6]:
path = '/home/lionex/bin/Python/Water-Leakage-Resolver/Digital Meter Data  - July 2022/'
csv_file = glob.glob(path + '*.csv')

In [7]:
data = pd.DataFrame()
for file in csv_file:
    data = data.append(pd.read_csv(file))

/tmp/ipykernel_249503/3243707724.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(pd.read_csv(file))
/tmp/ipykernel_249503/3243707724.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(pd.read_csv(file))
/tmp/ipykernel_249503/3243707724.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(pd.read_csv(file))
/tmp/ipykernel_249503/3243707724.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(pd.read_csv(file))
/tmp/ipykernel_249503/3243707724.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(pd.read_csv(file))
/tmp/ipykernel_249503/3243707724.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(pd.read_csv(file))
/tmp/ipykernel_249503/3243707724.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(pd.read_csv(file))
/tmp/ipykernel_249503/3243707724.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(pd.read_csv(file))
/tmp/ipykernel_249503/3243707724.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(pd.read_csv(file))
/tmp/ipykernel_249503/3243707724.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(pd.read_csv(file))

In [8]:
data.to_csv('Digital_Meter_Data_July.csv', index=False)

In [4]:
path = '/home/lionex/bin/Python/Water-Leakage-Resolver/Digital_Meter_Data_July.csv'
water_data = pd.read_csv(path)

In [5]:
water_data.shape

(4000, 5)

In [6]:
water_data

            Date  CustomerID         typeM Series  Value
0     2022-06-30       83001        Pulse1     P1  10488
1     2022-06-30       83002  Pulse1_Total     T1  11846
2     2022-06-30       83003       Switch2    SW2   7064
3     2022-06-30       83004  Pulse1_Total     T1   9703
4     2022-06-30       83005        Pulse1     P1   6589
...          ...         ...           ...    ...    ...
3995  2022-07-01       84996  Pulse1_Total     T1   5119
3996  2022-07-01       84997        Pulse1     P1   2442
3997  2022-07-01       84998  Pulse1_Total     T1   9597
3998  2022-07-01       84999        Pulse1     P1   4360
3999  2022-07-01       85000  Pulse1_Total     T1    606

[4000 rows x 5 columns]

In [7]:
water_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        4000 non-null   object
 1   CustomerID  4000 non-null   int64
 2   typeM       4000 non-null   object
 3   Series      4000 non-null   object
 4   Value       4000 non-null   int64
dtypes: int64(2), object(3)
memory usage: 156.4+ KB

In [8]:
water_data.describe()

         CustomerID         Value
count   4000.000000   4000.000000
mean   84000.500000   6107.920750
std      577.422379   3457.399256
min    83001.000000      4.000000
25%    83500.750000   3163.750000
50%    84000.500000   6112.500000
75%    84500.250000   9084.250000
max    85000.000000  11999.000000

In [ ]:
total_volume_sent = data['Water Volume Sent'].sum()
total_water_used = data['Water Used'].sum()
water_loss = total_volume_sent - total_water_used
print(f"Total Water Volume Sent: {total_volume_sent} liters")
print(f"Total Water Used: {total_water_used} liters")
print(f"Water Loss: {water_loss} liters")